:root {
  --background: #f8ffe5;
  --foreground: #171717;
  --blue: #1b9aaa;
  --red: #ef476f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img{
  height: 20%;
  width: 40%;
  border-radius: 20%;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.title{
  font-size: 2em;
  font-family: Cartoon;
}

.titleLink{
   display: flex;
}

.blue{
  color: var(--blue);
}

.red{
  color: var(--red);
}

@font-face {
    font-family: 'Cartoon';
    src: url('../../public/SuperCartoon-6R791.ttf');
}