:root {
  --background: #f8ffe5;
  --foreground: #171717;
  --table1: #deb887;
  --table2: #cdaa7d;
  --blue: #1b9aaa;
  --red: #ef476f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img{
  height: 20%;
  width: 40%;
  border-radius: 20%;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.title{
  font-size: 2em;
  font-family: Cartoon;
}

.titleLink{
   display: flex;
}

.blue{
  color: var(--blue);
}

.red{
  color: var(--red);
}

@font-face {
    font-family: 'Cartoon';
    src: url('../../public/SuperCartoon-6R791.ttf');
}

#game{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: var(--blue);
  padding: 2%;
  border-radius: 5%;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100px;
  width: 100px;
}

.circle{
  background-color: var(--background);
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

#gameContainer{
  padding: 2%;
  display: flex;
}

#scoreContainer{
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scoreTable, th, td{
  width: 80%;
  border:1px solid black;
  margin-top: 10%;
}

th, td{
  width: 25%;
}

.rowColor1{
  background-color: #cdaa7d;
}

.rowColor2{
  background-color: #deb887b1;
}

.error{
  color: crimson;
}

.visible{
  display: block;
}

.invisible{
  display: none;
}

#loggedInHeader, #loggedOutHeader{
  display: flex;
  justify-content: right;
}

#headerPicCpontainer{
  width: 5%;
}

#headerPic{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#headerPicContainer, #accountInfoLink, #logoutLink, #createAccountLink, #loginLink, #gameLink{
  padding: 10px;
}

#accountPage{
  display: flex;
  height: 80%;
  align-items: center;
}

#profilePicContainer, #accountInfo{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#accountInfo{
  font-size: 2em;
}

#profilePic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#accountTable{
  border: 10px solid var(--blue);
  border-radius: 5%;
}

.info{
  border: none;
}